<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.karthikraj.apps.newsagent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".feeds.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".categories.CategoriesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".likes.LikedArticlesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".feeds.FeedsListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".detail.ArticleDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".data.ArticlesProvider"
            android:authorities="net.karthikraj.apps.newsagent.data.articlesprovider"
            android:exported="true" />
        <provider
            android:name=".data.LikedArticlesProvider"
            android:authorities="net.karthikraj.apps.newsagent.data.likedarticlesprovider"
            android:exported="false" />

        <receiver android:name=".widget.NewsAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <!-- StackWidget Service -->
        <service
            android:name=".widget.NewsAppWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity android:name=".about.AboutActivity" />

        <service
            android:name=".utils.DownloadJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <!--
     Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification" />
        <!--
             Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".free.ArticleDetailsActivity"/>
    </application>

</manifest>
